<div class="profile">
  <div class="header-row">
    <span class="subtitle"
      >{{ 'This is you' if user.is_current_user else 'Recommended' }}</span
    >
  </div>
  <img src="{{ user.avatar_url }}" alt="Avatar of {{ user.firstname }}" />
  <h2>{{ user.firstname }}</h2>
  <ul>
    {% for field in fields %}
    <li class="info-item">
      <span class="label">{{ field }}</span>
      <span class="value">{{ user[field] }}</span>
    </li>
    {% endfor %}
  </ul>
</div>

<style>
  .profile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .profile .header-row {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
  }

  .profile img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 25px;
    aspect-ratio: 1;
    background: #eee;
  }

  .profile h2 {
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  .info-item {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 0;
  }

  .info-item .label {
    font-weight: 500;
    margin-bottom: 0.125rem;
    color: var(--color-font-light);
  }

  .info-item .value {
    font-weight: 500;
    font-size: 1.25rem;
  }

  .info-item .label:first-letter {
    text-transform: uppercase;
  }
</style>
