{% extends "base.html" %} 
{% block title %}Homepage{% endblock %} 
{% block head %}
    {{ super() }}
    <script>
      function formHandler() {
        return {
            isValid: false,
            checkValidity() {
                this.isValid = this.$refs.form.checkValidity();
            },
            init() {
                this.checkValidity();
            }
        }
      }
    </script>

    <style>
      #message-form {
        margin-bottom: 7rem;
      }
      
      #messages-title {
        margin-bottom: .5rem;
      }
    </style>
{% endblock %}
{% block content %}

<form id="message-form" x-data="formHandler()" x-ref="form" hx-post="/message" hx-on::after-request="if (event.detail.successful) this.reset()" hx-target="#messages-list" hx-swap="afterbegin">
  <textarea name="message" @input="checkValidity()"  rows="4" placeholder="Type your message here..." required minlengt=1></textarea>
  <button :disabled="!isValid">Post</button>
</form>

<h2 id="messages-title">Messages</h2>
<ul id="messages-list"></ul>

{% endblock %}
