{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}
    {{ super() }}
    <script>
      function formHandler() {
        return {
            isValid: false,
            checkValidity() {
                this.isValid = this.$refs.form.checkValidity();
            },
            init() {
                this.checkValidity();
            }
        }
      }
    </script>
    <style>
      #message-form {
        margin-bottom: 7rem;
      }
      
      #messages-title {
        margin-bottom: .5rem;
      }

      .users {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        gap: 2rem;
      }

      .profile {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .info-item {
        display: flex;
        flex-direction: column;
      }

      .info-item .label:first-letter {
        text-transform: uppercase;
      }
    </style>
{% endblock %}
{% block content %}
    <div class="users">
        {% for user in users %}
            <div class="profile">
                <span>This is you</span>
                <img src="{{ user.avatar_url }}" alt="Your avatar">
                <span>{{ user.firstname }} {{ user.lastname }}</span>
                <ul>
                    {% for field in fields %}
                        <li class="info-item">
                            <span class="label">{{ field }}</span>
                            <span class="value">{{ user[field] }}</span>
                        </li>
                    {% endfor %}
                </ul>
                <button>+ Add {{ user.firstname }} as a friend</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
