{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}
    {{ super() }}
    <script>
      function formHandler() {
        return {
            isValid: false,
            checkValidity() {
                this.isValid = this.$refs.form.checkValidity();
            },
            init() {
                this.checkValidity();
            }
        }
      }
    </script>
{% endblock %}
{% block content %}
    <a href="{{ url_for('graph', name=current_user.firstname.lower() ) }}">Show graph</a>
    <div class="two-columns">
        {% with user=current_user %}
            {% include 'user.html' %}
        {% endwith %}
        {% with user=matched_user %}
            {% include 'user.html' %}
        {% endwith %}
    </div>
{% endblock %}
